[submodule "Vendor/Mocky"]
	path = Vendor/Mocky
	url = git@github.com:lukeredpath/LRMocky.git
[submodule "Vendor/JSONKit"]
	path = Vendor/JSONKit
	url = https://github.com/johnezang/JSONKit.git
[submodule "Vendor/Kiwi"]
	path = Vendor/Kiwi
	url = https://github.com/allending/Kiwi.git
	