# xcode noise
build/*
*.pbxuser
*.mode1v3
*.mode*
*.perspectivev*
*.xcworkspace/ 
libPusher.xcodeproj/xcuserdata/
libPusher.xcodeproj/xcuserdata/juanalvarez.xcuserdatad/xcschemes/xcschememanagement.plist

# osx noise
.DS_Store
profile

Constants.h